<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Spring Boot 3</title>
	</head>
	<body>
		<div th:replace="~{/layout/fragments :: pageHeader('직원 목록 페이지')}"></div>
        
        <main>
            <table>
                <tr>
                    <th>사번</th>
                    <th>이름</th>
                    <th>직무</th>
                    <th>매니저</th>
                    <th>부서</th>
                </tr>
                
                <tr th:each="emp : ${employees}" th:object="${emp}">
                    <td>
                        <a th:href="@{/employee/details/{id}(id=*{id})}" th:text="*{id}"></a>
                    </td>
                    
                    <td>
                        <a th:href="@{/employee/details/{id}(id=*{id})}" th:text="|*{firstName} *{lastName}|"></a>
                    </td>
                    
                    <td>
                        <a th:href="@{/job/details/{id}(id=*{job.id})}" th:text="*{job.jobTitle}"></a>
                    </td>
                    
                    <td>
                        <th:block th:if="*{manager != null}">
                            <a th:href="@{/employee/details/{id}(id=*{manager.id})}" th:text="|*{manager.firstName} *{manager.lastName}|"></a>
                        </th:block>
                    </td>
                    
                    <td>
                        <th:block th:if="*{department != null}">
                            <a th:href="@{/department/details/{id}(id=*{department.id})}" th:text="*{department.departmentName}"></a>
                        </th:block>
                    </td>
                </tr>
                
            </table>
        
        </main>
	</body>
</html>