<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Spring Boot 3</title>
	</head>
	<body>
		<div th:replace="~{/layout/fragments :: pageHeader('국가 목록 페이지')}"></div>
        
        <main>
            <table>
                <tr>
                    <th>국가번호</th>
                    <th>이름</th>
                    <th>지역</th>
                </tr>
                
                <tr th:each="country : ${countries}" th:object="${country}">
                    <td>
                        <a th:href="@{/country/details/{id}(id=*{id})}" th:text="*{id}"></a>
                    </td>
                    
                    <td>
                        <a th:href="@{/country/details/{id}(id=*{id})}" th:text="*{countryName}"></a>
                    </td>
                    
                    <td>
                        <a th:href="@{/region/details/{id}(id=*{region.id})}" th:text="*{region.regionName}"></a>
                    </td>
                </tr>
                
            </table>
        
        </main>
	</body>
</html>